<div class="loginContainer">
  <div class="loginChild">
    <div class="loginFormContainer">
      <form class="loginForm" action="/mail/validation?email={{email}}&code={{code}}" method="POST" onsubmit="return validatePasswords()">
        <input
          class="password loginInput"
          id="password"
          name="password"
          type="password"
          placeholder="Contraseña"
          required
        />
        <input
          class="confirm-password loginInput"
          id="confirm-password"
          name="confirm-password"
          type="password"
          placeholder="Confirmar Contraseña"
          required
        />
        {{#if msg}}
          <span class="loginMessage">{{msg}}</span>
        {{else}}
          <span class="loginMessage"></span>
        {{/if}}
        <p id="password-mismatch-error" class="error-message loginMessage" style="display: none;">Las contraseñas no coinciden.</p>
        
        <input type="submit" value="Cambiar contraseña" class="loginButton" />
      </form>
    </div>
  </div>
</div>





<script src="{{root}}/javascript/contraseñaValidation.js"></script>